-- phpMyAdmin SQL Dump
-- version 5.2.2
-- https://www.phpmyadmin.net/
--
-- Host: 127.0.0.1:3306
-- Tempo de gera├º├úo: 22/08/2026 ├ás 04:23
-- Vers├úo do servidor: 11.8.8-MariaDB-log
-- Vers├úo do PHP: 7.2.34

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
START TRANSACTION;
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Banco de dados: `u606049230_loj23`
--

-- --------------------------------------------------------

--
-- Estrutura para tabela `acesso`
--

CREATE TABLE `acesso` (
  `id` int(11) NOT NULL,
  `login` varchar(100) NOT NULL,
  `senha` varchar(100) NOT NULL,
  `acesso` varchar(20) DEFAULT 'ativo'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `acesso`
--

INSERT INTO `acesso` (`id`, `login`, `senha`, `acesso`) VALUES
(1, 'thefake', '12345', 'ativo');

-- --------------------------------------------------------

--
-- Estrutura para tabela `apis`
--

CREATE TABLE `apis` (
  `id` int(11) NOT NULL,
  `zap` varchar(255) DEFAULT '',
  `email` varchar(255) DEFAULT '',
  `htmlemail` text DEFAULT NULL,
  `texto1email` text DEFAULT NULL,
  `textozap` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `apis`
--

INSERT INTO `apis` (`id`, `zap`, `email`, `htmlemail`, `texto1email`, `textozap`) VALUES
(1, '', '', NULL, NULL, NULL);

-- --------------------------------------------------------

--
-- Estrutura para tabela `bloqueados`
--

CREATE TABLE `bloqueados` (
  `id` int(11) NOT NULL,
  `ip` varchar(100) NOT NULL,
  `motivo` varchar(255) DEFAULT '',
  `data_bloqueio` timestamp NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------

--
-- Estrutura para tabela `bot`
--

CREATE TABLE `bot` (
  `id` int(11) NOT NULL,
  `ip` varchar(100) DEFAULT NULL,
  `useragent` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------

--
-- Estrutura para tabela `catalogo_banners`
--

CREATE TABLE `catalogo_banners` (
  `id` int(11) NOT NULL,
  `imagem` varchar(255) NOT NULL,
  `link` varchar(255) DEFAULT '',
  `ordem` int(11) DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `catalogo_banners`
--

INSERT INTO `catalogo_banners` (`id`, `imagem`, `link`, `ordem`) VALUES
(1, 'arquivos/banners/1787154538_901.webp', '', 1),
(2, 'arquivos/banners/1787154550_390.webp', '', 2),
(3, 'arquivos/banners/1787154564_928.webp', '', 3),
(4, 'arquivos/banners/1787154577_511.webp', '', 4);

-- --------------------------------------------------------

--
-- Estrutura para tabela `clientes`
--

CREATE TABLE `clientes` (
  `id` int(11) NOT NULL,
  `nome` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `cpf` varchar(20) DEFAULT NULL,
  `celular` varchar(20) DEFAULT NULL,
  `ip` varchar(100) DEFAULT NULL,
  `cep` varchar(20) DEFAULT NULL,
  `endereco` varchar(255) DEFAULT NULL,
  `numero` varchar(20) DEFAULT NULL,
  `bairro` varchar(100) DEFAULT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `estado` varchar(50) DEFAULT NULL,
  `complemento` varchar(255) DEFAULT NULL,
  `destinatario` varchar(255) DEFAULT NULL,
  `quantidade` varchar(10) DEFAULT '1',
  `valortotal` varchar(20) DEFAULT NULL,
  `variacoes` longtext DEFAULT NULL,
  `data_cadastro` timestamp NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------

--
-- Estrutura para tabela `config`
--

CREATE TABLE `config` (
  `id` int(11) NOT NULL,
  `nome` varchar(255) DEFAULT 'Minha Loja',
  `cor` varchar(50) DEFAULT '#ffe600',
  `cor_botao` varchar(20) DEFAULT '#3483fa',
  `cor_icones` varchar(20) DEFAULT '#ffffff',
  `img` varchar(255) DEFAULT 'logo.png',
  `numero` varchar(50) DEFAULT '',
  `zap` varchar(50) DEFAULT '',
  `zap_cotacao` varchar(50) DEFAULT '',
  `zap_flutuante_ativo` int(1) DEFAULT 1,
  `texto` text DEFAULT NULL,
  `endereco` varchar(255) DEFAULT '',
  `cnpj` varchar(50) DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `config`
--

INSERT INTO `config` (`id`, `nome`, `cor`, `cor_botao`, `cor_icones`, `img`, `numero`, `zap`, `zap_cotacao`, `zap_flutuante_ativo`, `texto`, `endereco`, `cnpj`) VALUES
(1, 'Mercado Livre', '#ffdd00', '#3483fa', '#000000', 'logo.png', '5511999999999', '5511999999999', '', 0, 'Ol├í, vim pelo site!', '', '');

-- --------------------------------------------------------

--
-- Estrutura para tabela `desktop`
--

CREATE TABLE `desktop` (
  `id` int(11) NOT NULL,
  `ip` varchar(100) DEFAULT NULL,
  `useragent` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `desktop`
--


-- --------------------------------------------------------

--
-- Estrutura para tabela `facebook_pixel`
--

CREATE TABLE `facebook_pixel` (
  `id` int(11) NOT NULL,
  `pixel_id` text DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 0,
  `purchase_event` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `facebook_pixel`
--

INSERT INTO `facebook_pixel` (`id`, `pixel_id`, `ativo`, `purchase_event`, `created_at`, `updated_at`) VALUES
(1, '', 0, 1, '2026-08-19 15:46:38', '2026-08-19 15:46:38');

-- --------------------------------------------------------

--
-- Estrutura para tabela `gateways_config`
--

CREATE TABLE `gateways_config` (
  `id` int(11) NOT NULL,
  `nome` varchar(100) NOT NULL,
  `status` enum('ativo','inativo') DEFAULT 'inativo',
  `taxa_pct` decimal(10,2) DEFAULT 0.00,
  `taxa_fixa` decimal(10,2) DEFAULT 0.00,
  `api_key` varchar(255) DEFAULT '',
  `secret_key` varchar(255) DEFAULT '',
  `webhook_secret` varchar(255) DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------

--
-- Estrutura para tabela `mobile`
--

CREATE TABLE `mobile` (
  `id` int(11) NOT NULL,
  `ip` varchar(100) DEFAULT NULL,
  `useragent` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------

--
-- Estrutura para tabela `online`
--

CREATE TABLE `online` (
  `id` int(11) NOT NULL,
  `ip` varchar(45) NOT NULL,
  `useragent` longtext DEFAULT NULL,
  `etapa` varchar(50) DEFAULT 'produto',
  `cidade` varchar(100) DEFAULT NULL,
  `estado` varchar(50) DEFAULT NULL,
  `dispositivo` varchar(50) DEFAULT 'desktop',
  `hora` varchar(20) DEFAULT NULL,
  `time` int(11) DEFAULT NULL,
  `situacao` varchar(20) DEFAULT 'ativo'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `online`
--

INSERT INTO `online` (`id`, `ip`, `useragent`, `etapa`, `cidade`, `estado`, `dispositivo`, `hora`, `time`, `situacao`) VALUES
(7, '2804:1620:1b8:743:982:eb13:3512:a5e9', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/151.0.0.0 Safari/537.36', 'checkout', 'Goi├ónia', 'GO', 'desktop', '19:07:40', 1787263690, 'ativo');

-- --------------------------------------------------------

--
-- Estrutura para tabela `pix`
--

CREATE TABLE `pix` (
  `id` int(11) NOT NULL,
  `chave` varchar(255) DEFAULT '',
  `cidade` varchar(255) DEFAULT '',
  `identificador` varchar(255) DEFAULT '',
  `descricao` varchar(255) DEFAULT '',
  `beneficiario` varchar(255) DEFAULT '',
  `use_freepay` tinyint(1) DEFAULT 0,
  `freepay_public_key` text DEFAULT NULL,
  `freepay_secret_key` text DEFAULT NULL,
  `use_mercadopago` tinyint(1) DEFAULT 0,
  `mp_access_token` text DEFAULT NULL,
  `mp_webhook_secret` text DEFAULT NULL,
  `use_pixgo` tinyint(1) DEFAULT 0,
  `pixgo_api_key` text DEFAULT NULL,
  `pixgo_webhook_secret` text DEFAULT NULL,
  `use_carthero` tinyint(1) DEFAULT 0,
  `carthero_private_key` text DEFAULT NULL,
  `carthero_public_key` text DEFAULT NULL,
  `use_pix_produto` tinyint(1) DEFAULT 1,
  `tipo_chave` varchar(20) NOT NULL DEFAULT 'aleatoria',
  `modo_pix` varchar(100) DEFAULT 'manual',
  `limite_por_cliente` int(11) DEFAULT 4,
  `aleatorio_multiplas` tinyint(1) DEFAULT 0,
  `pix_modo` varchar(20) NOT NULL DEFAULT 'manual',
  `pix_max_itens` int(11) NOT NULL DEFAULT 4
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `pix`
--


-- --------------------------------------------------------

--
-- Estrutura para tabela `pixgerado`
--

CREATE TABLE `pixgerado` (
  `id` int(11) NOT NULL,
  `ip` varchar(45) DEFAULT NULL,
  `useragent` text DEFAULT NULL,
  `valor` varchar(20) DEFAULT NULL,
  `produto` varchar(50) DEFAULT NULL,
  `hora` varchar(20) DEFAULT NULL,
  `time` int(11) DEFAULT NULL,
  `variacoes` text DEFAULT NULL,
  `pix_code` text DEFAULT NULL,
  `pix_qr_base64` longtext DEFAULT NULL,
  `mp_transaction_id` varchar(64) DEFAULT '',
  `mp_status` varchar(32) DEFAULT 'pending',
  `freepay_transaction_id` varchar(64) DEFAULT '',
  `freepay_status` varchar(32) DEFAULT 'PENDING',
  `pixgo_payment_id` varchar(64) DEFAULT '',
  `pixgo_status` varchar(32) DEFAULT 'pending',
  `carthero_payment_id` varchar(255) DEFAULT NULL,
  `carthero_status` varchar(50) DEFAULT NULL,
  `data_atualizacao` datetime DEFAULT NULL,
  `produto_nome` varchar(255) DEFAULT '',
  `cliente_nome` varchar(255) DEFAULT '',
  `cliente_telefone` varchar(50) DEFAULT '',
  `cliente_cpf` varchar(20) DEFAULT '',
  `cliente_email` varchar(255) DEFAULT '',
  `status` varchar(50) DEFAULT 'pendente',
  `data_criacao` datetime DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `pixgerado`
--


-- --------------------------------------------------------

--
-- Estrutura para tabela `pix_codigos_multiplos`
--

CREATE TABLE `pix_codigos_multiplos` (
  `id` int(11) NOT NULL,
  `tabela_id` int(11) DEFAULT NULL,
  `codigo` text DEFAULT NULL,
  `status` enum('disponivel','reservado','pago') DEFAULT 'disponivel',
  `data_uso` datetime DEFAULT NULL,
  `valor` decimal(10,2) DEFAULT 0.00
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------

--
-- Estrutura para tabela `pix_tabelas`
--

CREATE TABLE `pix_tabelas` (
  `id` int(11) NOT NULL,
  `nome` varchar(255) NOT NULL,
  `criado_em` datetime DEFAULT current_timestamp(),
  `ativa` tinyint(1) NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `pix_tabelas`
--

INSERT INTO `pix_tabelas` (`id`, `nome`, `criado_em`, `ativa`) VALUES
(3, 'teste01', '2026-08-20 13:33:26', 1);

-- --------------------------------------------------------

--
-- Estrutura para tabela `pix_tabela_codigos`
--

CREATE TABLE `pix_tabela_codigos` (
  `id` int(11) NOT NULL,
  `tabela_id` int(11) NOT NULL,
  `valor` decimal(10,2) NOT NULL DEFAULT 0.00,
  `codigo` text NOT NULL,
  `status_pagamento` varchar(20) NOT NULL DEFAULT 'DISPONIVEL',
  `reservado_em` datetime DEFAULT NULL,
  `reservado_pedido_ref` varchar(100) DEFAULT NULL,
  `pago_em` datetime DEFAULT NULL,
  `criado_em` timestamp NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `pix_tabela_codigos`
--

INSERT INTO `pix_tabela_codigos` (`id`, `tabela_id`, `valor`, `codigo`, `status_pagamento`, `reservado_em`, `reservado_pedido_ref`, `pago_em`, `criado_em`) VALUES
(2, 3, 100.00, '00020101021226870014br.gov.bcb.pix2565qrcode.dlocal.com/qr/25021356/v1/146e394d2b054d768be8f83a0e1006cf5204000053039865802BR5906DLOCAL6009SAO PAULO62070503***63045C66', 'RESERVADO', '2026-08-20 16:11:49', '2804:1620:1b8:743:982:eb13:3512:a5e9', NULL, '2026-08-20 13:46:16');

-- --------------------------------------------------------

--
-- Estrutura para tabela `produto`
--

CREATE TABLE `produto` (
  `id` int(11) NOT NULL,
  `codigo` varchar(100) DEFAULT NULL,
  `tipo_produto` varchar(50) DEFAULT 'generico',
  `categoria` varchar(100) DEFAULT 'Geral',
  `nome` varchar(255) DEFAULT NULL,
  `valor` varchar(20) DEFAULT NULL,
  `valor_original` varchar(20) DEFAULT NULL,
  `img` varchar(255) DEFAULT NULL,
  `img1` varchar(255) DEFAULT NULL,
  `img2` varchar(255) DEFAULT NULL,
  `img3` varchar(255) DEFAULT NULL,
  `img4` varchar(255) DEFAULT NULL,
  `img5` varchar(255) DEFAULT NULL,
  `img6` varchar(255) DEFAULT NULL,
  `oferta` varchar(10) DEFAULT '0',
  `desconto` varchar(10) DEFAULT '0',
  `descricao` text DEFAULT NULL,
  `caracteristicas` text DEFAULT NULL,
  `reviews` longtext DEFAULT NULL,
  `variacoes` longtext DEFAULT NULL,
  `venda` varchar(10) DEFAULT '0',
  `cliques` varchar(10) DEFAULT '0',
  `pix_copia_e_cola` text DEFAULT NULL,
  `status` varchar(50) DEFAULT 'ativo',
  `destaque_catalogo` tinyint(1) DEFAULT 0,
  `ordem` int(11) NOT NULL DEFAULT 999,
  `produtos_relacionados` varchar(255) DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Despejando dados para a tabela `produto`
--


-- --------------------------------------------------------

--
-- Estrutura para tabela `produto_pix_codigos`
--

CREATE TABLE `produto_pix_codigos` (
  `id` int(11) NOT NULL,
  `produto_codigo` varchar(100) NOT NULL,
  `pix_codigo` text NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'disponivel',
  `data_cadastro` timestamp NULL DEFAULT current_timestamp(),
  `data_uso` datetime DEFAULT NULL,
  `cliente_ip` varchar(100) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------

--
-- Estrutura para tabela `vendas_confirmadas`
--

CREATE TABLE `vendas_confirmadas` (
  `id` int(11) NOT NULL,
  `produto_codigo` varchar(100) NOT NULL,
  `cliente_ip` varchar(100) NOT NULL,
  `transaction_id` varchar(128) NOT NULL,
  `valor` varchar(20) NOT NULL DEFAULT '0',
  `data_venda` timestamp NULL DEFAULT current_timestamp(),
  `status` varchar(20) NOT NULL DEFAULT 'PAID',
  `gateway` varchar(30) NOT NULL DEFAULT 'mercadopago'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- ├ìndices para tabelas despejadas
--

--
-- ├ìndices de tabela `acesso`
--
ALTER TABLE `acesso`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `apis`
--
ALTER TABLE `apis`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `bloqueados`
--
ALTER TABLE `bloqueados`
  ADD PRIMARY KEY (`id`),
  ADD UNIQUE KEY `ip` (`ip`);

--
-- ├ìndices de tabela `bot`
--
ALTER TABLE `bot`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `catalogo_banners`
--
ALTER TABLE `catalogo_banners`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `clientes`
--
ALTER TABLE `clientes`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `config`
--
ALTER TABLE `config`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `desktop`
--
ALTER TABLE `desktop`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `facebook_pixel`
--
ALTER TABLE `facebook_pixel`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `gateways_config`
--
ALTER TABLE `gateways_config`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `mobile`
--
ALTER TABLE `mobile`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `online`
--
ALTER TABLE `online`
  ADD PRIMARY KEY (`id`),
  ADD UNIQUE KEY `ip` (`ip`);

--
-- ├ìndices de tabela `pix`
--
ALTER TABLE `pix`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `pixgerado`
--
ALTER TABLE `pixgerado`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `pix_codigos_multiplos`
--
ALTER TABLE `pix_codigos_multiplos`
  ADD PRIMARY KEY (`id`),
  ADD KEY `tabela_id` (`tabela_id`);

--
-- ├ìndices de tabela `pix_tabelas`
--
ALTER TABLE `pix_tabelas`
  ADD PRIMARY KEY (`id`);

--
-- ├ìndices de tabela `pix_tabela_codigos`
--
ALTER TABLE `pix_tabela_codigos`
  ADD PRIMARY KEY (`id`),
  ADD KEY `idx_tabela_id` (`tabela_id`),
  ADD KEY `idx_status` (`status_pagamento`);

--
-- ├ìndices de tabela `produto`
--
ALTER TABLE `produto`
  ADD PRIMARY KEY (`id`),
  ADD KEY `idx_tipo_produto` (`tipo_produto`);

--
-- ├ìndices de tabela `produto_pix_codigos`
--
ALTER TABLE `produto_pix_codigos`
  ADD PRIMARY KEY (`id`),
  ADD KEY `idx_produto_codigo` (`produto_codigo`),
  ADD KEY `idx_status` (`status`);

--
-- ├ìndices de tabela `vendas_confirmadas`
--
ALTER TABLE `vendas_confirmadas`
  ADD PRIMARY KEY (`id`),
  ADD UNIQUE KEY `uq_transaction_id` (`transaction_id`);

--
-- AUTO_INCREMENT para tabelas despejadas
--

--
-- AUTO_INCREMENT de tabela `acesso`
--
ALTER TABLE `acesso`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2;

--
-- AUTO_INCREMENT de tabela `apis`
--
ALTER TABLE `apis`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2;

--
-- AUTO_INCREMENT de tabela `bloqueados`
--
ALTER TABLE `bloqueados`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;

--
-- AUTO_INCREMENT de tabela `bot`
--
ALTER TABLE `bot`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;

--
-- AUTO_INCREMENT de tabela `catalogo_banners`
--
ALTER TABLE `catalogo_banners`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=5;

--
-- AUTO_INCREMENT de tabela `clientes`
--
ALTER TABLE `clientes`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;

--
-- AUTO_INCREMENT de tabela `config`
--
ALTER TABLE `config`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2;

--
-- AUTO_INCREMENT de tabela `desktop`
--
ALTER TABLE `desktop`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=12;

--
-- AUTO_INCREMENT de tabela `gateways_config`
--
ALTER TABLE `gateways_config`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;

--
-- AUTO_INCREMENT de tabela `mobile`
--
ALTER TABLE `mobile`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;

--
-- AUTO_INCREMENT de tabela `online`
--
ALTER TABLE `online`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=8;

--
-- AUTO_INCREMENT de tabela `pix`
--
ALTER TABLE `pix`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2;

--
-- AUTO_INCREMENT de tabela `pixgerado`
--
ALTER TABLE `pixgerado`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=6;

--
-- AUTO_INCREMENT de tabela `pix_codigos_multiplos`
--
ALTER TABLE `pix_codigos_multiplos`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2;

--
-- AUTO_INCREMENT de tabela `pix_tabelas`
--
ALTER TABLE `pix_tabelas`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=4;

--
-- AUTO_INCREMENT de tabela `pix_tabela_codigos`
--
ALTER TABLE `pix_tabela_codigos`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=3;

--
-- AUTO_INCREMENT de tabela `produto`
--
ALTER TABLE `produto`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=20;

--
-- AUTO_INCREMENT de tabela `produto_pix_codigos`
--
ALTER TABLE `produto_pix_codigos`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;

--
-- AUTO_INCREMENT de tabela `vendas_confirmadas`
--
ALTER TABLE `vendas_confirmadas`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;

--
-- Restri├º├Áes para tabelas despejadas
--

--
-- Restri├º├Áes para tabelas `pix_codigos_multiplos`
--
ALTER TABLE `pix_codigos_multiplos`
  ADD CONSTRAINT `pix_codigos_multiplos_ibfk_1` FOREIGN KEY (`tabela_id`) REFERENCES `pix_tabelas` (`id`) ON DELETE CASCADE;

--
-- Restri├º├Áes para tabelas `pix_tabela_codigos`
--
ALTER TABLE `pix_tabela_codigos`
  ADD CONSTRAINT `pix_tabela_codigos_ibfk_1` FOREIGN KEY (`tabela_id`) REFERENCES `pix_tabelas` (`id`) ON DELETE CASCADE;
COMMIT;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
